
<app-nav></app-nav>
<br>
<div class="list-group" class="col-4" class="cardChannel">
    
    <div *ngFor="let item of channels" >
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">{{item.friendly_name}}</h5>
                <button  type="button" class="btn btn-primary" (click)="loadData(item)" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" >Join to channel</button>
            </div>
        </div>
    </div>

</div>



<div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Join to channel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  #joinChannelForm="ngForm" >
            <div class="form-group">
              <label for="identity" class="col-form-label">Type your friendly name:</label>
              <input name="identity" type="text" ng-model="identity.text" class="form-control" id="identity" ngModel>
            </div>
            <div class="modal-footer" class="form-group" class="btnModal" class="btnJoinChannel">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary"  (click)="joinToChannel(joinChannelForm)"  data-dismiss="modal">Join</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>