.cardChannel{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column wrap;
}

.btnJoinChannel{
    display: flex;
    justify-content: space-between;
}