<app-nav></app-nav>
<div class="body">
    <div id="frame" >
        <div id="sidepanel">
          <div id="profile">
            <div class="wrap">
              <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
              <p>{{member.identity}}</p>
              <!--
              <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
              
              <div id="status-options">
                <ul>
                  <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                  <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                  <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                  <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                </ul>
              </div>
              
              <div id="expanded">
                <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                <input name="twitter" type="text" value="mikeross" />
                <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                <input name="twitter" type="text" value="ross81" />
                <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                <input name="twitter" type="text" value="mike.ross" />
              </div>-->
            </div>
            
          </div>

          <div id="search">
            <!--
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />-->
            <h5>Members of channel</h5>
          </div>

          <div id="contacts">
            <ul *ngFor="let item of members">
              <li class="contact ">
                <div class="wrap">
                  <span class="contact-status online"></span>
                  <!--<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />-->
                  
                  <div class="meta">
                    <p class="name"><i class="fas fa-user-circle"></i>  {{item.identity}}</p>
                    <!--
                    <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
                    -->
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div id="bottom-bar">
            <!--
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
            -->
          </div>
          
        </div>
        <div class="content">
          <div class="contact-profile">
            <p><b>{{channel.friendly_name}}</b></p>
            <div class="social-media">
                <i class="fas fa-angle-double-left"  routerLink="/"></i>
            </div>
          </div>
          <div class="messages">
            <div>
              
            </div>
            <ul *ngFor="let item of messages">
              <li class="sent" *ngIf="item.from == member.identity">
                <!--<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />-->
                <span class="badge badge-secondary badge-pill">{{item.from}}</span>
                <p>{{item.body}}</p>
              </li>
              <li class="replies" *ngIf="item.from != member.identity">
                <!--<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />-->
                <span class="badge badge-secondary badge-pill">{{item.from}}</span>
                <p>{{item.body}}</p>
              </li>
            </ul>
          </div>
          <div class="message-input">
            <div class="wrap">
              <form #sendMessageForm="ngForm" >
                  <input type="text" placeholder="Write your message..." #reference name="message" ng-model="message.text" class="form-control" id="message" ngModel/>
              </form>
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <button  (click)="reference.value=''" class="submit" (click)="sendMessage(sendMessageForm)"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
</div>
