<app-nav></app-nav>
<br>
<div class="container" class="col-6">
    <form  #createChannelForm="ngForm" (ngSubmit)="createChannel(createChannelForm)">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <h5>Create a new Channel</h5>
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" name="friendly_name"class="form-control mb-2" id="inlineFormInput" placeholder="Friendly Name" ngModel>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </div>
        </div>
      </form>

</div>
<br>
<Div class="container" class="col-6">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">SID</th>
            <th scope="col">Friendly Name</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of channels"> 
          <tr >
            <td>{{item.sid}}</td>
            <td>{{item.friendly_name}}</td>
            <td>
              <button  type="button" class="btn btn-danger" (click)="loadData(item)" data-toggle="modal" data-target="#deleteModal" data-whatever="@mdo">Delete</button>
            </td>
            <td class="centrar">
            <button  type="button" class="btn btn-primary" (click)="loadData(item)" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" >Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
</Div>



<div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Channel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  #editForm="ngForm" >
            <div class="form-group">
              <label for="friendly_name" class="col-form-label">Friendly Name:</label>
              <input *ngIf="channel != null" name="friendly_name" type="text" value="{{channel.friendly_name}}" ng-model="friendly_name.text" class="form-control" id="friendly_name" ngModel>
            </div>
            <div class="modal-footer" class="form-group" class="btnModal">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary"  (click)="editChannel(editForm)"  data-dismiss="modal">Edit Channel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" tabindex="-1" role="dialog"  id="deleteModal" *ngIf="channel != null">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Are you sure you want to delete this channel?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this channel?</p>
            <p>{{channel.friendly_name}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-primary" (click)="deleteChannel(channel.sid)"  data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>