<app-nav></app-nav>
<div class="container" >
  <br>
  <p class="text-center">Chat</p>
  <hr>

  <div class="row" class="login">

      <div class="card" >
          <article class="card-body">
              <h4 class="card-title text-center mb-4 mt-1">Log in</h4>
              <hr>
              <p class="text-success text-center">Login to manage channels</p>
              <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                  <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                          </div>
                          <input name="email" id="email" class="form-control" placeholder="Email" type="email" ngModel>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                          </div>
                          <input name="password" id="password" class="form-control" placeholder="PassWord" type="password" ngModel>
                      </div>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                  </div>
              </form>
          </article>
      </div>
  </div>
</div>
