
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" routerLinkActive="active" *ngIf="userlog == null">
          <a class="nav-link" href="#" routerLink="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" routerLinkActive="active" *ngIf="userlog != null">
            <a class="nav-link" href="#" routerLink="/viewChannel">Manage channels<span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item active" routerLinkActive="active" *ngIf="userlog != null">
          <a class="nav-link" href="#" (click)="logout()" routerLink="/">Logout <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>